@font-face {
    font-family: "Ubuntu-Regular";
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: "Ubuntu-Light";
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: "Ubuntu-Bold";
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}