@font-face {
    font-family: "Ubuntu-Regular";
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
<<<<<<< HEAD
    font-family: "Ubuntu-Light";
    src: url(../fonts/Ubuntu/Ubuntu-Light.ttf);
}
@font-face {
    font-family: "Ubuntu-Bold";
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
=======
>>>>>>> 0b4984b58677e0992393756ee1a06e5d9f6389eb
    font-family: "RobotoCondensed-Bold";
    src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}