<<<<<<< HEAD
.toppanel
=======
.panel
>>>>>>> 0b4984b58677e0992393756ee1a06e5d9f6389eb
{
	height: 2rem;
	background: url(../images/bg-panel.png) repeat-x;
	width: 100%;
	position: fixed;
	z-index: 2;
	.holder-time
	{
		width: 10rem;
		padding: .525rem .6875rem 0;
		background: rgba(0,0,0, .1);
		span
		{
			float: left;
			font-family: "RobotoCondensed-Bold";
			color: #fff;
			font-size: 1rem;
			text-shadow: #2d2f32 .0625rem .0625rem .0625rem;
		}
		.separator
		{
			margin: .375rem .625rem;
			float: left;
		}
	}
<<<<<<< HEAD
	.nav
	{
		float: left;
		li
		{
			float: left;
			padding: .25rem 0 0 0;
			width: 7.5rem;
			height: 1.75rem;
			text-align: left;
			margin: 0 2rem 0 0;
			a::before
			{
				content: '[';
				position: absolute;
				left: 0;
				font-weight: 100;
				font-family: "Ubuntu-Light";
			}
			a
			{
				padding: .25rem 0 0 .5rem;
				color: #9ea2aa;
				font-family: "Ubuntu-Regular";
				font-size: .9rem;
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				box-sizing: border-box;
				font-weight: normal;
			}
			a::after
			{
				position: absolute;
				right: 0;
				content: ']';
				font-weight: normal;
				font-family: "Ubuntu-Light";
			}
		}
		li:hover
		{
			padding: 0;
			border-top: .25rem solid #868991;
			background: #b5b9c2;
			a
			{
				color: #2e3033;
				text-decoration: none;
			}
		}
		li.active
		{
			padding: 0;
			border-top: .25rem solid #868991;
			background: #b5b9c2;
			a
			{
				color: #2e3033;
				text-decoration: none;
			}
		}
		li.search
		{
			width: 26.5625rem;
			margin: 0;
			form::before
			{
				content: '[';
				position: absolute;
				left: 0;
				font-weight: 100;
				color: #9ea2aa;
				font-family: "Ubuntu-Regular";
				font-size: .9rem;
				font-family: "Ubuntu-Light";
				top: .25rem;
			}
			form
			{
				width: 100%;
				position: relative;
				height: 100%;
			}
			form::after
			{
				position: absolute;
				right: 0;
				content: ']';
				color: #9ea2aa;
				top: .25rem;
				font-family: "Ubuntu-Regular";
				font-size: .9rem;
				font-weight: normal;
				font-family: "Ubuntu-Light";
			}
			input
			{
				background: none;
				border: 0;
				width: 100%;
				color: #9ea2aa;
				font-size: .9rem;
				padding: .18rem 0 0 .5rem;
				position: relative;
				display: block;
			}
		}
		li.search:hover
		{
			background: none;
			border: none;
			padding: .25rem 0 0 0;
		}
	}
=======
>>>>>>> 0b4984b58677e0992393756ee1a06e5d9f6389eb
}
