.menu-md-btn
{
	height: 3.75rem;
	width: 4rem;
	background: url(../images/menu-md-btn.png) 50% 50% no-repeat #b5b8c2;
	border-bottom: .25rem solid #868991;
}
.menu-md-btn:hover
{
	background: url(../images/menu-md-btn-hover.png) 50% 50% no-repeat #009EED;
	border-bottom: .25rem solid #fff;
}