doctype html
html
	include ./utils/head.jade
	body
<<<<<<< HEAD
		include ./utils/toppanel.jade
		div#map
		include ./utils/bottompanel.jade
=======
		include ./utils/panel.jade
		div#map
>>>>>>> 0b4984b58677e0992393756ee1a06e5d9f6389eb
		include ./utils/scripts.jade