.sidebar-nav#sidebar
	h3.user-holder
		|Виталий Дементьев
		a(href="#").pull-right.font-size-20
			i.fa.fa-gear
	p.side-description
		|Муниципальное бюджетное 
		|учреждение здравоохранения 
		|«Центральная районная больница» 
		|администрации муниципального 
		|образования Павловский район
	ul.settings-holder
		li.setting-option
			a(href="#")
				i.fa.fa-power-off
				|ВЫЙТИ
		li.setting-option
			a(href="#")
				i.fa.fa-question
				|ПОМОЩЬ

