.modal-overlay
	.modal-window-holder
		.modal-window
			div(role="tabpanel").tabpanel
				ul.nav.nav-tabs(role="tablist")
					li(role="presentation").active
						a(href="#section-1",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.01
					li(role="presentation")
						a(href="#section-2",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.02
					li(role="presentation")
						a(href="#section-3",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.03
					li(role="presentation")
						a(href="#section-4",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.04
					li(role="presentation")
						a(href="#section-5",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.05
					li(role="presentation")
						a(href="#section-6",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.06
					li(role="presentation")
						a(href="#section-7",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.07
					li(role="presentation")
						a(href="#section-8",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.08
					li(role="presentation")
						a(href="#section-9",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.09
					li(role="presentation")
						a(href="#section-10",aria-controls="section-1" role="tab" data-toggle="tab")
							|Р.10
				.tab-content
					ul.window-settings
						li
							a(href="#").window-fullscreen.w-icon
						li
							a(href="#").window-blanktab.w-icon
						li
							a(href="#").window-close.w-icon
								i.fa.fa-close
					//- SECTION 1
					div(role="tabpanel").tab-pane.active#section-1
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
					//- SECTION 2
					div(role="tabpanel").tab-pane#section-2
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
					//- SECTION 3
					div(role="tabpanel").tab-pane#section-3
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
					//- SECTION 4
					div(role="tabpanel").tab-pane#section-4
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
					//- SECTION 5
					div(role="tabpanel").tab-pane#section-5
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
					//- SECTION 6
					div(role="tabpanel").tab-pane#section-6
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
					//- SECTION 7
					div(role="tabpanel").tab-pane#section-7
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
					//- SECTION 8
					div(role="tabpanel").tab-pane#section-8
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
					//- SECTION 9
					div(role="tabpanel").tab-pane#section-9
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
					//- SECTION 10
					div(role="tabpanel").tab-pane#section-10
						form
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Дата обновления
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Федеральный округ
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input(disabled)
										|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Руководитель организации
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Должность
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Ф.И.О.
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Муниципальное образование
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input(disabled)
												|Lorem ipsum dolor sit amet, consectetur adipisicing elit
										.childs-holder
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Адрес электронной почты
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
											.form-group.row
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													label.form-label
														|Почтовый адрес
														a(href="#")
															i.fa.fa-info-circle
												.col-xs-12.col-sm-6.col-md-6.col-lg-6
													textarea.form-input(disabled)
														|Lorem ipsum dolor sit amet, consectetur adipisicing elit
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Телефон с кодом города
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									input.form-input(disabled, value="lorem ipsum", placeholder="— ", type="text")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Адрес электронной почты
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									select.form-input(disabled, value="lorem ipsum").select2
										option(selected)
											|lorem