.tablesettings-holder
	a(href="#").window-close.w-icon.close-modal
		i.fa.fa-close
	.row.cols-holder
		.col-md-6
			.inner-wrapper
				form
					input(type="text")#searchquery
				.results-holder
					div.result
						|Олололо
					div.result
						|Олололо
					div.result
						|Олололо
					div.result
						|Олололо
					div.result
						|Олололо
					div.result
						|Олололо
					div.result
						|Олололо
					div.result
						|Олололо
					div.result
						|Олололо
					div.result
						|Олололо
					div.result
						|Олололо
		.col-md-6
			.inner-wrapper.table-cols
				h2
					|ВЫБРАННЫЕ КОЛОНКИ
				ul#sortable-columns
					li.ui-state-default
						i.fa.fa-sort
						|Время в пути (мин)
						.misc.pull-right
							i.fa.fa-eye.pull-right
					li.ui-state-default
						i.fa.fa-sort
						i
							|Расстояние от ЧС (км)
						.misc.pull-right
							i.fa.fa-eye.pull-right
					li.ui-state-default
						i.fa.fa-sort
						b.depth-level.black
						|21. Уровень травмоцентра
						.misc.pull-right
							i.fa.fa-eye.pull-right
					li.ui-state-default
						i.fa.fa-sort
						b.depth-level.black
						|1. Полное наименование организации
						.misc.pull-right
							i.fa.fa-eye.pull-right
					li.ui-state-default
						i.fa.fa-sort
						i
							|Район
						.misc.pull-right
							i.fa.fa-sort-amount-asc
							i.fa.fa-eye.pull-right
					li.ui-state-default
						i.fa.fa-sort
						b.depth-level.black
						b.depth-level.grey
						b.depth-level.grey
						|1.8 кардиологи
						.misc.pull-right
							i.fa.fa-sort-amount-desc
							i.fa.fa-eye.pull-right
	a(href="#").btn-alpha-md.m-center.m-top-20
		p.alpha-text-holder
			|Применить
		i.fa.fa-check