footer.panel-bottom
    .fancypanel
        .container-fluid
            .row.m-null.init
                .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    form.mo-search
                        .form-group.emer-kind-holder
                            label(for="#emergency-kind")
                                |Вид ЧС
                            select.select2.select-md#emergency-kind
                        .form-group.emer-type-holder
                            label(for="#emergency-type")
                                |Тип ЧС
                            select.select2.select-md#emergency-type 
                        .form-group.coord-holder
                            p.mo-location.pull-left
                                |Координаты ЧС
                            .input-group
                                input(placeholder="ШИРОТА")#latitude.i-coords
                                input(placeholder="ДОЛГОТА")#longitude.i-coords
                        .form-group
                            .radius-holder.pull-left
                                a.btn.btn-square-sm.btn-minus
                                    i.fa.fa-minus
                                .radius
                                    .circle-outer
                                        .circle-inner
                                        .counter-holder
                                            .meter-holder
                                                input(type="text", value="0").quantities
                                                p.scale
                                                    |км
                                a.btn.btn-square-sm.btn-plus
                                    i.fa.fa-plus
                            .form-wrap.pull-left
                                a(href="#").map-marker.btn-xs-custom
                                    i.fa.fa-map-marker
                                //- ajax?
                        a(href="#").btn.btn-default.btn-blue.init-search
                            |НАЙТИ
                            i.fa.fa-search.font-size-24                   
            .row.m-null.result
                .col-xs-12.col-sm-12.col-md-6.col-lg-4
                    div(role="tabpanel").f-search-block
                        ul.nav.nav-tabs(role="tablist")
                            li(role="presentation").active.tab-control
                                a(  href="#searchtab",
                                    aria-controls="searchtab", role="tab"
                                    data-toggle="tab")
                                    |ПОИСК МО
                            li(role="presentation").tab-control
                                a(  href="#legendtab",
                                    aria-controls="legendtab", role="tab",
                                    data-toggle="tab")
                                    |УСЛОВНЫЕ ОБОЗНАЧЕНИЯ
                        .tab-content
                            .tab-pane.active#searchtab(role="tabpanel")
                                form.mo-search
                                    .form-group.emer-kind-holder
                                        label(for="#emergency-kind")
                                            |Вид ЧС
                                        select.select2.select-md#emergency-kind
                                    .form-group.emer-type-holder
                                        label(for="#emergency-type")
                                            |Тип ЧС
                                        select.select2.select-md#emergency-type 
                                    .form-group.coord-holder
                                        p.mo-location.pull-left
                                            |Суражский район,
                                            |Брянская область, Россия
                                        .input-group
                                            input(placeholder="ШИРОТА")#latitude.i-coords
                                            input(placeholder="ДОЛГОТА")#longitude.i-coords
                                    .form-group
                                        .radius-holder.pull-left
                                            a.btn.btn-square-sm.btn-minus
                                                i.fa.fa-minus
                                            .radius
                                                .circle-outer
                                                    .circle-inner
                                                    .counter-holder
                                                        .meter-holder
                                                            input(type="text", value="15").quantities
                                                            p.scale
                                                                |км
                                            a.btn.btn-square-sm.btn-plus
                                                i.fa.fa-plus
                                        .form-wrap.pull-left
                                            a(href="#").map-marker.btn-xs-custom
                                                i.fa.fa-map-marker
                                            //- ajax?
                                            a(href="#").btn.btn-default.btn-blue
                                                |НАЙТИ
                                                i.fa.fa-search.font-size-24                   
                            .tab-pane#legendtab(role="tabpanel")
                                .row.m-bottom-20
                                    p.text-center
                                        |Расшифровка краткой информации о медицинской организации
                                .row.scheme-description-holder
                                    .beds-holder.pull-left.m-right-16
                                        p.help-ibox-title
                                            |НАИМЕНОВАНИЕ ОРГАНИЗАЦИИ
                                        ul.help-ibox
                                            li.row
                                                |койки взрослые (всего)
                                            li.row
                                                |терапевтические
                                            li.row
                                                |хирургические
                                            li.row
                                                |травмотологические
                                            li.row
                                                |нейрохирургические
                                            li.row
                                                |туберкулезные
                                            li.row
                                                |инфекционные
                                            li.row
                                                |ожоговые
                                    .minitable-holder.pull-left.m-right-16
                                        ul.preview
                                            p
                                                |ЦРБ    
                                            li.row
                                                .item.beds
                                                    |524
                                                .item.beds
                                                    |214
                                            li.row
                                                .item
                                                    |63
                                                .item
                                                    |30
                                                
                                            li.row
                                                .item
                                                    |56
                                                .item
                                                    |10
                                                
                                            li.row
                                                .item
                                                    |45
                                                .item
                                                    |7
                                                
                                            li.row
                                                .item
                                                    |0
                                                .item
                                                    |0
                                                
                                            li.row
                                                .item
                                                    |0
                                                .item
                                                    |0
                                                
                                            li.row
                                                .item
                                                    |0
                                                .item
                                                    |0
                                                
                                            li.row
                                                .item
                                                    |30
                                                .item
                                                    |4
                                    .specialist-holder.pull-left
                                        ul.help-ibox.p-t-22
                                            li.row
                                                |врачи (всего)
                                            li.row
                                                |терапевты
                                            li.row
                                                |хирурги
                                            li.row
                                                |травматологи
                                            li.row
                                                |нейрохирурги
                                            li.row
                                                |физиаторы
                                            li.row
                                                |инфекционисты
                                            li.row
                                                |ожоговые
                .col-xs-12.col-sm-12.col-md-6.col-lg-8
                   .log
                        table.table.table-custom-1#mo-table
                                    thead
                                        tr
                                            th
                                                |&nbsp;
                                            th
                                                p
                                                    |Полное наименование мо
                                            th
                                                p
                                                    |Район

                                            th
                                                p
                                                    i.fa.fa-clock-o
                                                    |Мин
                                            th
                                                p
                                                    |<> Км
                                                    a(href="#")
                                                        i.fa.fa-caret-up
                                        tr.nihil
                                            th
                                            th
                                            th
                                            th
                                            th
                                    tbody
                                        tr
                                            td
                                                span.status
                                                    |ТЦ1
                                            td
                                                a(href="#")
                                                    |Муниципальное бюджетное учреждение "Каневская центральная районная больница" муниципального образования ...
                                            td
                                                p
                                                    |Каневской район
                                            td
                                                p
                                                    |4
                                            td
                                                p
                                                    |8
                                        tr
                                            td
                                                span.status
                                                    |ТЦ2
                                            td
                                                a(href="#")
                                                    |Муниципальное бюджетное учреждение здравоохранения "Кореновская центральная районная больница"
                                            td
                                                p
                                                    |Кореновский район
                                            td
                                                p
                                                    |6
                                            td
                                                p
                                                    |10
                                        tr
                                            td
                                                span.status
                                                    |ТЦ3
                                            td
                                                a(href="#")
                                                    |Муниципальное бюджетное учреждение здравоохранения "Курганинская центральная районная больница"
                                            td
                                                p
                                                    |Курганинский район
                                            td
                                                p
                                                    |8
                                            td
                                                p
                                                    |12
                                        tr
                                            td
                                            td
                                                a(href="#")
                                                    |Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" Брюховецкого района
                                            td
                                                p
                                                    |Брюховецкий район
                                            td
                                                p
                                                    |10
                                            td
                                                p
                                                    |14
                                        tr
                                            td
                                            td
                                                a(href="#")
                                                    |Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" Брюховецкого района
                                            td
                                                p
                                                    |Новопокровский район
                                            td
                                                p
                                                    |12
                                            td
                                                p
                                                    |16
                                        tr
                                            td
                                            td
                                                a(href="#")
                                                    |Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" Брюховецкого района
                                            td
                                                p
                                                    |Новопокровский район
                                            td
                                                p
                                                    |12
                                            td
                                                p
                                                    |16
                                        tr
                                            td
                                            td
                                                a(href="#")
                                                    |Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" Брюховецкого района
                                            td
                                                p
                                                    |Новопокровский район
                                            td
                                                p
                                                    |12
                                            td
                                                p
                                                    |16
                        #tabletoolbar
    .copyright
        |Федеральная база данных «Силы и средства медицины катастроф Минздрава России»