header.panel-top
    .container-fluid
        .row-fluid
            a(href="#").btn-square.btn-grey.btn-menu.pull-left
                i.fa.fa-bars.font-size-40
            div.holder-time.pull-left
                span.time
                    |04  
                    i
                        |: 
                    | 30
                div.separator
                span.date
                    |2014 / 05 / 05
            ul.nav
                li.active
                    a(href="#")
                        |РЕАГИРОВАНИЕ
                li
                    a(href="#")
                        |ОТЧЕТНОСТЬ
                li
                    a(href="#")
                        |ФИЛЬТР МО
                li
                    a(href="#")
                        |ДАННЫЕ

