/*
    Help page print css

    Created on : 20.10.2014, 9:44:35
    Author     : grom
*/
@media print {

    header#header,div.breadcrumbs, aside.aside,a.print,div.footer, div.help-footer {
        display: none;
    }

    body {
        background: none #fff;
    }

    div#main {
        width: 100%
    }

    #main div.help {
        background: none #fff;
        box-shadow: none;
        width: 100%;
    }

    div.help .help-area {
        width: 100%;
        padding: 0;
    }
}