html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none; }

body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, Verdana, sans-serif; }

html {
  height: 100%; }

body {
  height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

strong {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

body {
  scrollbar-face-color: #000000;
  scrollbar-shadow-color: #2D2C4D;
  scrollbar-highlight-color: #7D7E94;
  scrollbar-3dlight-color: #7D7E94;
  scrollbar-darkshadow-color: #2D2C4D;
  scrollbar-track-color: #7D7E94;
  scrollbar-arrow-color: #C1C1D1; }

@font-face {
  font-family: "Ubuntu-Regular";
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf); }

@font-face {
  font-family: "Ubuntu-Light";
  src: url(../fonts/Ubuntu/Ubuntu-Light.ttf); }

@font-face {
  font-family: "Ubuntu-Bold";
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf); }

@font-face {
  font-family: "Ubuntu-Medium";
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf); }

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf); }


.map {
  position: relative;
  width: 100%;
  height: calc(100% - 19rem - 2rem);
  z-index: 1; }
  .map .ymaps-2-1-23-hint__text {
    background: transparent;
    padding: 0;
    border: 0; }
  .map .icon-content {
    position: relative;
    width: 4.625rem;
    height: 6.5rem;
    background: url(../images/hospital-bull.png) no-repeat .25rem; }
  .map .icon-content.hover {
    background: url(../images/hospital-bull-hover.png) no-repeat; }
  .map .icon-content.active {
    background: url(../images/hospital-bull-active.png) no-repeat; }
  .map .holder-bull {
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 35.9375rem;
    z-index: 1;
    text-align: left; }
    .map .holder-bull .detailed {
      position: absolute;
      left: 7rem;
      top: -4rem;
      width: 36.125rem;
      -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }
      .map .holder-bull .detailed .head {
        position: relative; }
        .map .holder-bull .detailed .head .close-new {
          position: absolute;
          right: .25rem;
          top: .25rem; }
        .map .holder-bull .detailed .head .name {
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FBFBFB), color-stop(1, #E5E5E5));
          background-image: -o-linear-gradient(bottom, #FBFBFB 0%, #E5E5E5 100%);
          background-image: -moz-linear-gradient(bottom, #FBFBFB 0%, #E5E5E5 100%);
          background-image: -webkit-linear-gradient(bottom, #FBFBFB 0%, #E5E5E5 100%);
          background-image: -ms-linear-gradient(bottom, #FBFBFB 0%, #E5E5E5 100%);
          background-image: linear-gradient(to bottom, #FBFBFB 0%, #E5E5E5 100%);
          border-bottom: .3125rem solid #dadada;
          box-shadow: 0 1px 1px #d6d6d6;
          font-family: arial;
          font-size: 1.16667rem;
          color: #3e4149;
          font-weight: bold;
          padding: .625rem 3.25rem .625rem .625rem;
          box-sizing: border-box;
          text-shadow: .125rem 0 .125rem #e1e1e2; }
        .map .holder-bull .detailed .head .addres {
          border-top: .0625rem solid #b8b8b8;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #E5E5E5), color-stop(1, #FAFAFA));
          background-image: -o-linear-gradient(bottom, #E5E5E5 0%, #FAFAFA 100%);
          background-image: -moz-linear-gradient(bottom, #E5E5E5 0%, #FAFAFA 100%);
          background-image: -webkit-linear-gradient(bottom, #E5E5E5 0%, #FAFAFA 100%);
          background-image: -ms-linear-gradient(bottom, #E5E5E5 0%, #FAFAFA 100%);
          background-image: linear-gradient(to bottom, #E5E5E5 0%, #FAFAFA 100%);
          padding: .25rem .6875rem;
          box-sizing: border-box;
          color: #3e4149;
          text-shadow: .125rem 0 .125rem #e1e1e2; }
      .map .holder-bull .detailed .body {
        background: rgba(0, 0, 0, 0.65);
        color: #fff;
        padding: .5rem; }
        .map .holder-bull .detailed .body .row {
          overflow: hidden;
          margin: 0 0 .46rem 0; }
          .map .holder-bull .detailed .body .row dl.item {
            width: 11.375rem;
            height: 1.125rem;
            margin: 0 .46rem 0 0;
            border: .0625rem solid #838286;
            float: left;
            font-family: "Ubuntu-Regular";
            font-size: .61667rem;
            padding: .075rem .25rem 0 .25rem;
            box-sizing: border-box;
            font-weight: bold;
            line-height: 1.5; }
            .map .holder-bull .detailed .body .row dl.item dt {
              float: left;
              width: 9.2rem;
              text-overflow: ellipsis;
              overflow: hidden;
              height: .8975rem;
              -o-text-overflow: ellipsis;
              text-transform: uppercase; }
            .map .holder-bull .detailed .body .row dl.item dd {
              float: right;
              width: 1rem;
              text-align: center;
              line-height: 1.4; }
          .map .holder-bull .detailed .body .row dl.beds {
            background: rgba(46, 48, 51, 0.75);
            border: .0625rem solid rgba(46, 48, 51, 0.75); }
          .map .holder-bull .detailed .body .row dl.item:last-child {
            margin: 0; }
        .map .holder-bull .detailed .body .row:last-child {
          margin: 0; }
    .map .holder-bull .timepath {
      position: absolute;
      width: 9.125rem;
      height: 2.625rem;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      font-family: "Ubuntu-Regular";
      padding: 0 .75rem 0 .75rem;
      box-sizing: border-box;
      font-size: .9rem;
      top: -1rem;
      left: -18rem;
      -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }
      .map .holder-bull .timepath span {
        font-family: "RobotoCondensed-Bold";
        font-size: 2rem; }
      .map .holder-bull .timepath .time {
        float: left; }
      .map .holder-bull .timepath .distance {
        float: right; }
  .map .preview {
    position: absolute;
    width: 5.5rem;
    height: 9.875rem;
    background: rgba(62, 65, 73, 0.85);
    box-sizing: border-box;
    padding: .5rem;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }
    .map .preview p {
      color: #f6f6f6;
      font-family: "Ubuntu-Bold";
      margin: 0 0 .25rem 0; }
    .map .preview .row {
      overflow: hidden;
      margin: 0 0 .25rem 0; }
      .map .preview .row .item.beds {
        background: rgba(46, 48, 51, 0.75);
        border: .0625rem solid rgba(46, 48, 51, 0.75); }
      .map .preview .row .item {
        float: left;
        width: 2rem;
        margin: 0 .25rem 0 0;
        height: .75rem;
        border: .0625rem solid #838689;
        color: #f6f6f6;
        line-height: 1.1;
        font-weight: bold;
        text-align: right;
        font-size: .7rem;
        padding: 0 .125rem 0 0;
        box-sizing: border-box; }
      .map .preview .row .item:last-child {
        margin: 0; }


.panel-bottom {
  min-height: 18rem;
  width: 100%;
  position: relative;
  background: #303235;
  z-index: 2;
  box-sizing: border-box; }
  .panel-bottom .mo-search .i-coords {
    border: 0;
    border-bottom: 1px solid #afb2b9;
    color: #737880;
    background: transparent;
    width: 7rem;
    text-align: center;
    font-size: 1.125rem;
    font-family: "Ubuntu-Regular";
    cursor: pointer; }
    .panel-bottom .mo-search .i-coords.highlighted {
      border-bottom: .125rem solid #00aaff; }
      .panel-bottom .mo-search .i-coords.highlighted:hover {
        border-bottom: .125rem solid #00aaff; }
    .panel-bottom .mo-search .i-coords:first-child {
      margin: 0 1rem 0 0; }
    .panel-bottom .mo-search .i-coords:hover {
      color: #3e4149;
      border-bottom: 1px solid #737880; }
  .panel-bottom .mo-search .coord-holder {
    margin-bottom: .5rem; }
    .panel-bottom .mo-search .coord-holder .input-group {
      padding-top: .4rem; }
    .panel-bottom .mo-search .coord-holder::after {
      clear: both;
      display: block;
      content: ''; }
  .panel-bottom .mo-search .emer-type-holder {
    margin-bottom: 0; }
  .panel-bottom .mo-search .emer-kind-holder {
    margin-bottom: .625rem; }
  .panel-bottom .mo-search .emer-type-holder, .panel-bottom .mo-search .emer-kind-holder {
    padding-left: 6.625rem; }
    .panel-bottom .mo-search .emer-type-holder label, .panel-bottom .mo-search .emer-kind-holder label {
      max-width: 10rem;
      margin-right: 1.875rem;
      min-height: 1.375rem; }
      .panel-bottom .mo-search .emer-type-holder label::after, .panel-bottom .mo-search .emer-kind-holder label::after {
        font: normal normal normal 14px/1 FontAwesome;
        content: "\f105";
        display: inline-block;
        margin-left: 1rem; }
  .panel-bottom .mo-search .radius-holder {
    width: 11.5rem;
    float: left;
    margin-left: 14.375rem; }
    .panel-bottom .mo-search .radius-holder .btn {
      margin-top: 2.5625rem;
      float: left; }
    .panel-bottom .mo-search .radius-holder .radius {
      margin-right: .5rem;
      margin-left: .5rem;
      float: left; }
      .panel-bottom .mo-search .radius-holder .radius .circle-outer {
        display: block;
        width: 6.5rem;
        height: 6.5rem;
        border: .1rem solid #cdd0d5;
        border-radius: 50%;
        position: relative; }
      .panel-bottom .mo-search .radius-holder .radius .circle-inner {
        top: .1875rem;
        left: .1875rem;
        position: absolute;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        border: .1625rem solid #3e4149; }
      .panel-bottom .mo-search .radius-holder .radius .meter-holder {
        width: 3rem;
        height: 4.875rem;
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
        padding-top: 2.375rem;
        z-index: 2;
        background-color: transparent; }
        .panel-bottom .mo-search .radius-holder .radius .meter-holder input.quantities {
          width: 100%;
          text-align: center;
          background: transparent;
          font-size: 1.5rem;
          color: #737880;
          font-family: "Ubuntu-Bold";
          border: 0;
          border-bottom: .1rem solid #9da1a7; }
        .panel-bottom .mo-search .radius-holder .radius .meter-holder .scale {
          color: #737880;
          font-family: "Ubuntu-Regular";
          text-align: center; }
        .panel-bottom .mo-search .radius-holder .radius .meter-holder::before {
          font: normal normal normal 14px/1 FontAwesome;
          -webkit-font-smoothing: antialiased;
          text-rendering: auto;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
          content: "\f105";
          display: block;
          color: #d0d3d8;
          top: 43%;
          position: absolute;
          background-color: #ebedf2;
          width: 2rem;
          height: 2rem;
          font-size: 2rem;
          position: absolute;
          left: -1.5625rem;
          z-index: 2;
          text-align: right; }
        .panel-bottom .mo-search .radius-holder .radius .meter-holder::after {
          font: normal normal normal 14px/1 FontAwesome;
          -webkit-font-smoothing: antialiased;
          text-rendering: auto;
          -moz-osx-font-smoothing: grayscale;
          transform: translate(0, 0);
          content: "\f104";
          top: 43%;
          display: block;
          color: #d0d3d8;
          right: -1.5625rem;
          position: absolute;
          text-align: left;
          background-color: #ebedf2;
          width: 2rem;
          height: 2rem;
          font-size: 2rem; }
    .panel-bottom .mo-search .radius-holder::after {
      clear: both;
      display: block;
      content: ''; }
  .panel-bottom .mo-search .form-group label {
    color: #878b92;
    font-family: "Ubuntu-Regular";
    font-size: .7rem; }
  .panel-bottom .mo-search .mo-location {
    border-right: 1px solid #737880;
    min-height: 20px;
    display: block;
    position: relative;
    text-align: right;
    margin-right: 2.1875rem;
    padding: .75rem;
    box-sizing: border-box;
    color: #737880;
    font-size: .65rem;
    font-family: "Ubuntu-Regular";
    max-width: 10rem; }
    .panel-bottom .mo-search .mo-location::after {
      position: absolute;
      content: '';
      display: block;
      right: -4px;
      top: .75rem;
      border-left: 4px solid #737880;
      border-bottom: 5px solid transparent;
      border-top: 5px solid transparent; }
  .panel-bottom .fancypanel {
    border-top: 1px solid #dcdee3;
    box-shadow: 0 -1px 0 #bfc0c4;
    border-bottom: .25rem solid #222325;
    background: #ebedf2;
    min-height: 18.5rem;
    width: 100%; }
    .panel-bottom .fancypanel .row.result {
      display: none; }
    .panel-bottom .fancypanel .row.init .mo-search {
      width: 380px;
      margin: 0 auto;
      padding-top: 3rem;
      position: relative; }
      .panel-bottom .fancypanel .row.init .mo-search .btn.init-search {
        position: absolute;
        right: -12rem;
        bottom: 1.5rem; }
      .panel-bottom .fancypanel .row.init .mo-search .form-group:last-of-type::after {
        clear: both;
        content: "";
        display: block; }
      .panel-bottom .fancypanel .row.init .mo-search .emer-kind-holder, .panel-bottom .fancypanel .row.init .mo-search .emer-type-holder {
        margin-bottom: .625rem;
        padding-left: 3rem; }
      .panel-bottom .fancypanel .row.init .mo-search .radius-holder {
        margin-left: 11rem; }
      .panel-bottom .fancypanel .row.init .mo-search .mo-location {
        border-right: 0; }
        .panel-bottom .fancypanel .row.init .mo-search .mo-location::after {
          font: normal normal normal 14px/1 FontAwesome;
          content: "\f105";
          display: inline-block;
          margin-left: 1rem;
          border: 0; }
    .panel-bottom .fancypanel .placeinfo {
      margin: .5rem 2.5rem 0 2%;
      float: left; }
      .panel-bottom .fancypanel .placeinfo .row {
        overflow: hidden;
        margin: 0 0 .25rem 0; }
        .panel-bottom .fancypanel .placeinfo .row .item {
          float: left;
          width: 11.375rem;
          margin: 0 .5rem 0 0;
          height: 1.125rem;
          padding: .25rem;
          box-sizing: border-box;
          border: .0625rem solid #bcbec2;
          text-transform: uppercase;
          font-size: .695rem;
          font-family: "Ubuntu-Regular"; }
          .panel-bottom .fancypanel .placeinfo .row .item dl {
            overflow: hidden; }
            .panel-bottom .fancypanel .placeinfo .row .item dl dt {
              float: left;
              width: 9.125rem; }
            .panel-bottom .fancypanel .placeinfo .row .item dl dd {
              float: right; }
        .panel-bottom .fancypanel .placeinfo .row .item:last-child {
          margin: 0; }
      .panel-bottom .fancypanel .placeinfo .row.header .item {
        background: #c6c8cf; }
      .panel-bottom .fancypanel .placeinfo .row:last-child {
        margin: 0; }
    .panel-bottom .fancypanel .log {
      float: left;
      height: 100%;
      margin: 0 10% 0 0;
      padding-top: .625rem; }
      .panel-bottom .fancypanel .log table.table-custom-1 {
        font-family: "Ubuntu-Regular";
        width: 100%;
        font-size: .8rem; }
        .panel-bottom .fancypanel .log table.table-custom-1 thead {
          display: block;
          background: transparent; }
          .panel-bottom .fancypanel .log table.table-custom-1 thead tr {
            background: transparent; }
            .panel-bottom .fancypanel .log table.table-custom-1 thead tr th {
              text-transform: uppercase;
              font-family: "Ubuntu-Bold";
              padding: 0;
              padding-right: .5rem;
              border-bottom: 0; }
              .panel-bottom .fancypanel .log table.table-custom-1 thead tr th p {
                border-bottom: .1rem solid #bbbfc9; }
              .panel-bottom .fancypanel .log table.table-custom-1 thead tr th:first-child {
                border-bottom: 0; }
            .panel-bottom .fancypanel .log table.table-custom-1 thead tr.nihil {
              height: 1rem; }
              .panel-bottom .fancypanel .log table.table-custom-1 thead tr.nihil th {
                border-bottom: 0;
                border-top: 0; }
            .panel-bottom .fancypanel .log table.table-custom-1 thead tr::before {
              content: '';
              width: .125rem;
              height: 1.5rem;
              opacity: 0; }
        .panel-bottom .fancypanel .log table.table-custom-1 tbody {
          overflow: hidden;
          display: block; }
          .panel-bottom .fancypanel .log table.table-custom-1 tbody tr {
            background: #f5f6fb;
            height: 1.5rem;
            box-sizing: border-box;
            position: relative; }
            .panel-bottom .fancypanel .log table.table-custom-1 tbody tr:nth-child(2n) {
              background: #eff1f6; }
            .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td {
              box-sizing: border-box;
              vertical-align: middle;
              padding: 0;
              padding-right: .5rem;
              text-overflow: ellipsis;
              border-top: 0; }
              .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td a {
                color: #3e4149; }
                .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td a:hover {
                  text-decoration: none; }
              .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td:first-child {
                width: 1.5rem;
                font-family: "Ubuntu-Bold";
                padding-left: .25rem; }
                .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td:first-child span.status {
                  width: 1.25rem;
                  height: .75rem;
                  display: block;
                  box-sizing: border-box;
                  line-height: 1.2;
                  text-align: center;
                  letter-spacing: -1px;
                  color: #fff;
                  font-size: .6rem;
                  border-radius: .125rem;
                  background-color: #737880; }
              .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td:last-child {
                width: 4.5rem; }
              .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td.hasroad {
                background: url(../images/has-road.png) no-repeat .25rem .125rem; }
              .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td.close {
                background: #dce4b4; }
              .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td.near {
                background: #f3e5b4; }
              .panel-bottom .fancypanel .log table.table-custom-1 tbody tr td.far {
                background: #efc2be; }
            .panel-bottom .fancypanel .log table.table-custom-1 tbody tr::before {
              content: '';
              display: block;
              opacity: 0;
              width: .125rem;
              height: 1.5rem;
              background-color: #00aaff;
              position: absolute;
              left: .6rem; }
          .panel-bottom .fancypanel .log table.table-custom-1 tbody tr:hover {
            background-color: #3e4149; }
            .panel-bottom .fancypanel .log table.table-custom-1 tbody tr:hover::before {
              opacity: 1; }
            .panel-bottom .fancypanel .log table.table-custom-1 tbody tr:hover td a {
              color: #fff; }
            .panel-bottom .fancypanel .log table.table-custom-1 tbody tr:hover td:first-child span.status {
              background-color: #d9230f; }
    .panel-bottom .fancypanel .ui-jqgrid .ui-jqgrid-bdiv {
      overflow-y: scroll; }

.f-search-block .nav-tabs {
  border: 0; }
.f-search-block .tab-control {
  font-family: "Ubuntu-Bold";
  min-width: 17.5rem;
  background-color: transparent;
  border: 0;
  position: relative;
  height: 2rem;
  display: block;
  box-sizing: border-box;
  margin-right: 2rem; }
  .f-search-block .tab-control:hover {
    top: 0; }
  .f-search-block .tab-control:last-child {
    margin-right: 0; }
  .f-search-block .tab-control a {
    display: block;
    border-radius: 0;
    text-transform: uppercase;
    border: 0;
    padding: 0;
    padding-left: .7rem;
    padding-top: .4rem;
    width: 100%;
    height: 100%;
    color: #626670;
    font-size: .9rem;
    border-bottom: .1625rem solid #bbbfc9; }
    .f-search-block .tab-control a:focus {
      background: transparent; }
    .f-search-block .tab-control a:hover {
      border: 0;
      z-index: 0;
      border-bottom: .125rem solid #00aaff; }
  .f-search-block .tab-control.active {
    top: -.1rem;
    height: 2.1rem; }
    .f-search-block .tab-control.active a {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) inset;
      display: block;
      width: 100%;
      height: 100%;
      border: 0;
      border-bottom: .25rem solid #393c45;
      background-color: #393c45;
      color: #e9eaef; }
      .f-search-block .tab-control.active a:hover {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #393c45;
        border: 0;
        border-bottom: .25rem solid #393c45;
        background-color: #393c45;
        color: #e9eaef; }
      .f-search-block .tab-control.active a:focus {
        width: 100%;
        height: 100%;
        border: 0;
        border-bottom: .25rem solid #393c45;
        background-color: #393c45;
        color: #e9eaef; }
.f-search-block .tab-content {
  padding-top: 1rem; }
  .f-search-block .tab-content .preview {
    width: 5.5rem;
    height: 9.875rem;
    background: rgba(62, 65, 73, 0.85);
    box-sizing: border-box;
    padding: .5rem;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5); }
    .f-search-block .tab-content .preview p {
      color: #f6f6f6;
      font-family: "Ubuntu-Bold";
      margin: 0 0 .25rem 0; }
    .f-search-block .tab-content .preview .row {
      overflow: hidden;
      margin: 0 0 .25rem 0; }
      .f-search-block .tab-content .preview .row .item.beds {
        background: rgba(46, 48, 51, 0.75);
        border: .0625rem solid rgba(46, 48, 51, 0.75); }
      .f-search-block .tab-content .preview .row .item {
        float: left;
        width: 2rem;
        margin: 0 .25rem 0 0;
        height: .75rem;
        border: .0625rem solid #838689;
        color: #f6f6f6;
        line-height: 1.1;
        font-weight: bold;
        text-align: right;
        font-size: .7rem;
        padding: 0 .125rem 0 0;
        box-sizing: border-box; }
      .f-search-block .tab-content .preview .row .item:last-child {
        margin: 0; }
  .f-search-block .tab-content p.help-ibox-title {
    margin-top: .5rem;
    margin-bottom: .25rem;
    font-family: "Ubuntu-Bold";
    text-transform: uppercase; }
  .f-search-block .tab-content .beds-holder {
    max-width: 12.3125rem; }
  .f-search-block .tab-content .specialist-holder {
    max-width: 12.3125rem; }
  .f-search-block .tab-content .scheme-description-holder {
    padding-left: 12%; }
    .f-search-block .tab-content .scheme-description-holder::after {
      clear: both;
      display: block;
      content: ''; }
  .f-search-block .tab-content .help-ibox {
    width: 100%; }
    .f-search-block .tab-content .help-ibox li.row {
      width: 12.3125rem;
      height: .75rem;
      display: block;
      border: .1rem solid #848891;
      box-sizing: border-box;
      line-height: 1;
      text-align: left;
      margin-left: 0;
      margin-right: 0;
      text-transform: uppercase;
      background-color: transparent;
      font-family: "Ubuntu-Regular";
      color: #848891;
      margin-bottom: .125rem; }
      .f-search-block .tab-content .help-ibox li.row:first-child {
        color: #fff;
        background-color: #848891; }

.copyright {
  color: #747578;
  font-family: "Ubuntu-Regular"; }

.panel-top {
  height: 1.875rem;
  border-bottom: 1px solid #dcdee3;
  box-shadow: 0 1px 0 #bfc0c4;
  background: #ebedf2;
  width: 100%;
  position: relative;
  z-index: 2; }
  .panel-top .holder-time {
    padding: .425rem 0.625rem 0;
    margin-right: 4.375rem; }
    .panel-top .holder-time span {
      float: left;
      font-family: "RobotoCondensed-Bold";
      color: #fff;
      font-size: 1rem;
      text-shadow: #2d2f32 .0625rem .0625rem .0625rem; }
    .panel-top .holder-time .separator {
      margin: .375rem .625rem;
      float: left; }
  .panel-top .nav {
    float: left; }
    .panel-top .nav li {
      float: left;
      height: 2rem;
      text-align: left;
      box-sizing: border-box;
      margin: 0 2rem 0 0;
      position: relative;
      top: -1px;
      border-bottom: 1px solid #bbbfc9; }
      .panel-top .nav li a {
        padding: .45rem .5rem .5rem .5rem;
        color: #9ea2aa;
        font-family: "Ubuntu-Bold";
        font-size: .9rem;
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        background-color: transparent;
        box-sizing: border-box;
        font-weight: normal; }
      .panel-top .nav li:hover {
        border-bottom: .125rem solid #00aaff; }
        .panel-top .nav li:hover a {
          padding-top: .4375rem;
          color: #2e3033;
          text-decoration: none; }
      .panel-top .nav li.active a {
        background-color: #c8210e;
        color: #fff;
        text-decoration: none; }
      .panel-top .nav li.search {
        width: 26.5625rem;
        margin: 0; }
        .panel-top .nav li.search form::before {
          content: '[';
          position: absolute;
          left: 0;
          font-weight: 100;
          color: #9ea2aa;
          font-family: "Ubuntu-Regular";
          font-size: .9rem;
          font-family: "Ubuntu-Light";
          top: .25rem; }
        .panel-top .nav li.search form {
          width: 100%;
          position: relative;
          height: 100%; }
        .panel-top .nav li.search form::after {
          position: absolute;
          right: 0;
          content: ']';
          color: #9ea2aa;
          top: .25rem;
          font-family: "Ubuntu-Regular";
          font-size: .9rem;
          font-weight: normal;
          font-family: "Ubuntu-Light"; }
        .panel-top .nav li.search input {
          background: none;
          border: 0;
          width: 100%;
          color: #9ea2aa;
          font-size: .9rem;
          padding: .18rem 0 0 .5rem;
          position: relative;
          display: block; }
      .panel-top .nav li.search:hover {
        background: none;
        border: none;
        padding: .25rem 0 0 0; }

.btn-square-sm {
  width: 1.375rem;
  height: 1.375rem;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0;
  border: 1px solid transparent; }

.btn-plus, .btn-minus {
  color: #737880;
  padding-top: .1rem;
  display: inline-block; }
  .btn-plus:hover, .btn-minus:hover {
    color: #2e3034;
    border: 1px solid #cdd0d5; }
  .btn-plus:active, .btn-minus:active {
    background-color: #2e3034;
    color: #fff; }

.btn-square {
  height: 3.75rem;
  line-height: 4rem;
  text-align: center;
  padding: 0;
  width: 4rem;
  color: #333;
  background: #fff;
  border-bottom: .25rem solid #fff; }
  .btn-square:hover {
    background: #ebebeb;
    color: #333;
    border-bottom: .25rem solid #ebebeb; }

.btn-menu i {
  line-height: 1.4; }

.btn-grey {
  background-color: #b7bbc4;
  color: #3e4149;
  border-bottom: .25rem solid #868991; }
  .btn-grey:hover {
    color: #fff;
    background-color: #0a9be4;
    border-bottom: .25rem solid #fff; }

.map-marker {
  color: #737880;
  display: block;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.375rem; }
  .map-marker:hover {
    color: #e1e4e6;
    background-color: #737880; }

.btn-xs-custom {
  width: 1rem;
  display: block;
  height: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 2px #c3c5c9; }

.menu-md-btn:hover {
  background: url(../images/menu-md-btn-hover.png) 50% 50% no-repeat #009EED;
  border-bottom: .25rem solid #fff; }

.btn-default {
  border-radius: 0;
  font-family: "Ubuntu-Regular";
  line-height: 1;
  padding: 0;
  display: block;
  text-align: center;
  line-height: 2.75rem;
  width: 6.5rem;
  text-transform: uppercase;
  height: 2.75rem;
  cursor: pointer; }
  .btn-default i {
    display: inline-block;
    margin-left: .5rem; }
  .btn-default:hover {
    text-decoration: none; }

.btn-blue {
  color: #fff;
  background-color: #0a9be4;
  border: 0;
  border-bottom: .25rem solid #016ea5; }
  .btn-blue:hover {
    background-color: #0aabfc;
    color: #fff;
    border-bottom: .25rem solid #017ab7; }

.btn-alpha-md {
  width: 11.25rem;
  height: 1.875rem;
  border: 1px solid #3e4148;
  cursor: pointer;
  display: block;
  color: #3e4148;
  font-size: 12px;
  line-height: 1.875rem;
  padding: 0;
  padding-left: .5rem;
  padding-right: .5rem;
  font-family: "Ubuntu-Regular"; }
  .btn-alpha-md.cancel:hover {
    background: #d9230e;
    border: 1px solid #d9230e; }
  .btn-alpha-md:hover {
    background: #2f3034;
    color: #ebecf0;
    text-decoration: none; }
    .btn-alpha-md:hover i {
      color: #ebecf0; }
  .btn-alpha-md p + i {
    float: right; }
  .btn-alpha-md i {
    line-height: 1.875rem;
    float: left;
    font-size: 1rem;
    color: #3e414a; }
  .btn-alpha-md .alpha-text-holder {
    margin-left: 1rem;
    float: left; }

.btn-alpha-lg {
  border: 1px solid #3e4148;
  font-family: "Ubuntu-Regular";
  cursor: pointer;
  width: 20.875rem;
  height: 2.875rem;
  line-height: 2.875rem;
  display: block;
  color: #3e4148;
  font-size: 1.2rem;
  padding: 0;
  padding-left: .5rem;
  padding-right: .5rem; }
  .btn-alpha-lg:hover {
    background: #2f3034;
    color: #ebecf0; }
  .btn-alpha-lg p {
    line-height: 2.875rem; }
  .btn-alpha-lg i {
    line-height: 2.875rem; }
  .btn-alpha-lg p + i {
    float: right; }
  .btn-alpha-lg .alpha-text-holder {
    margin-left: 1rem;
    float: left; }

.highlighted {
  border-bottom: .125rem solid #00aaff; }

.close-new {
  display: block;
  height: 1.375rem;
  width: 1.375rem;
  text-align: center;
  line-height: 1.2rem;
  box-sizing: border-box;
  padding: .0625rem;
  font-size: 1rem;
  color: #2e3034;
  font-weight: bold; }
  .close-new:hover {
    text-decoration: none;
    padding: 0;
    border: .0625rem solid #d7d8da; }

.order {
  width: .5rem;
  height: .25rem;
  position: absolute;
  background: url(../images/order.png) no-repeat; }
  .order.active {
    background: url(../images/order-desc.png) no-repeat; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #ddd;
  border: 1px solid #ddd; }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #ddd;
  border: 1px solid #ddd; }

table tbody tr {
  width: 100%;
  height: 1.25rem;
  background: #f7f7f8; }
table tbody tr:nth-child(2n+1) {
  background: #efeff0; }
table tbody tr:hover {
  background: #898c94; }
  table tbody tr:hover td {
    color: #fff; }

i.fa.fa-info-circle {
  margin-left: 5px;
  color: #a1a2a6;
  font-size: .875rem;
  cursor: pointer; }
  i.fa.fa-info-circle:hover {
    color: #353533; }

.state {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  line-height: 1.5rem;
  vertical-align: top;
  margin-right: 8px;
  text-align: center;
  color: #3e4148; }
  .state:hover {
    color: #3e4148; }
  .state i {
    line-height: 1.5rem; }

.state.add {
  background: #d3d6dd; }
  .state.add:hover {
    background: #2f3034;
    color: #ebecf0; }

.state.del:hover {
  background: #2f3034;
  color: #ebecf0; }

.state.eye:hover {
  background: #2f3034;
  color: #ebecf0; }

.state:last-child {
  margin-right: 0; }

.state.red {
  background: url(../images/state-red.png) no-repeat center center; }

.state.yellow {
  background: url(../images/state-yellow.png) no-repeat center center; }

.state.green {
  background: url(../images/state-green.png) no-repeat center center; }

.state.grey {
  background: url(../images/state-grey.png) no-repeat center center; }

.state.cancel {
  background: #626671 url(../images/state-cancel.png) no-repeat center center; }
  .state.cancel:hover {
    background: #3e414a url(../images/state-cancel.png) no-repeat center center; }

body.generic {
  background: #ebedf2;
  padding-top: 20px; }

.form-group {
  margin-bottom: 0; }

.form-label {
  color: #626670;
  font-family: "Ubuntu-Medium";
  font-size: .875rem; }

.block-holder {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2); }
  .block-holder::after {
    display: block;
    content: "";
    clear: both; }
  .block-holder.btns .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px; }

.generic-header {
  font-size: 40px;
  color: #1f1f1f;
  margin-top: 10px;
  margin-bottom: 10px; }

.form-group.row {
  max-width: 810px;
  margin: 0 auto;
  clear: both; }

.form-group.row .form-group.row:nth-child(1) .col-md-6 {
  border-top: 0; }

.form-group.row .col-md-6, .form-group.row .col-lg-6 {
  border-top: 1px solid #bcbfc8; }

.form-group.row > .row:first-of-type .col-md-6, .form-group.row > .row:first-of-type .col-lg-6 {
  border-top: 0; }

.form-group.row > .row .col-md-6:first-of-type {
  margin-left: 30px;
  margin-right: -30px; }

.form-group.row > .col-md-6, .form-group.row > .col-lg-6 {
  min-height: 39px;
  padding: .5rem 0 7px 0; }

.form-group.row > .col-md-6:last-of-type::after, .form-group.row > .col-lg-6:last-of-type::after {
  clear: both;
  content: ''; }

.form-input {
  width: 348px;
  height: 24px;
  max-width: 348px;
  font-family: "Ubuntu-Regular";
  color: #2e3034;
  border: 0;
  box-shadow: 0 0 4px #c3c4c9; }

.block-holder.headers {
  max-width: 265px; }

.cancel-state:hover {
  background: #3e4149; }

.cancel-state {
  height: 24px;
  width: 24px;
  background: #626670; }

.childs-holder .row:first-child .col-md-6, .childs-holder .row:first-child .col-lg-6 {
  border-top: 0; }

.childs-holder .row .col-md-6:first-child, .childs-holder .row .col-lg-6:first-child {
  margin-left: 30px;
  margin-right: -30px; }

.childs-holder .childs-holder .row .col-md-6:first-child, .childs-holder .childs-holder .row .col-lg-6:first-child {
  margin-left: 60px;
  margin-right: -60px; }

.font-size-12 {
  font-size: .75rem; }

.font-size-14 {
  font-size: .875rem; }

.font-size-16 {
  font-size: 1rem; }

.font-size-18 {
  font-size: 1.125rem; }

.font-size-20 {
  font-size: 1.25rem; }

.font-size-22 {
  font-size: 1.375rem; }

.font-size-24 {
  font-size: 1.5rem; }

.font-size-26 {
  font-size: 1.625rem; }

.font-size-28 {
  font-size: 1.75rem; }

.font-size-30 {
  font-size: 1.875rem; }

.font-size-32 {
  font-size: 2rem; }

.font-size-34 {
  font-size: 2.125rem; }

.font-size-36 {
  font-size: 2.25rem; }

.font-size-38 {
  font-size: 2.375rem; }

.font-size-40 {
  font-size: 2.5rem; }

.m-top-12 {
  margin-top: .75rem; }

.m-top-14 {
  margin-top: .875rem; }

.m-top-16 {
  margin-top: 1rem; }

.m-top-18 {
  margin-top: 1.125rem; }

.m-top-20 {
  margin-top: 1.25rem; }

.m-top-22 {
  margin-top: 1.375rem; }

.m-top-24 {
  margin-top: 1.5rem; }

.m-top-26 {
  margin-top: 1.625rem; }

.m-top-28 {
  margin-top: 1.75rem; }

.m-top-30 {
  margin-top: 1.875rem; }

.m-top-32 {
  margin-top: 2rem; }

.m-top-34 {
  margin-top: 2.125rem; }

.m-top-36 {
  margin-top: 2.25rem; }

.m-top-38 {
  margin-top: 2.375rem; }

.m-top-40 {
  margin-top: 2.5rem; }

.m-left-12 {
  margin-left: .75rem; }

.m-left-14 {
  margin-left: .875rem; }

.m-left-16 {
  margin-left: 1rem; }

.m-left-18 {
  margin-left: 1.125rem; }

.m-left-20 {
  margin-left: 1.25rem; }

.m-left-22 {
  margin-left: 1.375rem; }

.m-left-24 {
  margin-left: 1.5rem; }

.m-left-26 {
  margin-left: 1.625rem; }

.m-left-28 {
  margin-left: 1.75rem; }

.m-left-30 {
  margin-left: 1.875rem; }

.m-left-32 {
  margin-left: 2rem; }

.m-left-34 {
  margin-left: 2.125rem; }

.m-left-36 {
  margin-left: 2.25rem; }

.m-left-38 {
  margin-left: 2.375rem; }

.m-left-40 {
  margin-left: 2.5rem; }

.m-bottom-12 {
  margin-bottom: .75rem; }

.m-bottom-14 {
  margin-bottom: .875rem; }

.m-bottom-16 {
  margin-bottom: 1rem; }

.m-bottom-18 {
  margin-bottom: 1.125rem; }

.m-bottom-20 {
  margin-bottom: 1.25rem; }

.m-bottom-22 {
  margin-bottom: 1.375rem; }

.m-bottom-24 {
  margin-bottom: 1.5rem; }

.m-bottom-26 {
  margin-bottom: 1.625rem; }

.m-bottom-28 {
  margin-bottom: 1.75rem; }

.m-bottom-30 {
  margin-bottom: 1.875rem; }

.m-bottom-32 {
  margin-bottom: 2rem; }

.m-bottom-34 {
  margin-bottom: 2.125rem; }

.m-bottom-36 {
  margin-bottom: 2.25rem; }

.m-bottom-38 {
  margin-bottom: 2.375rem; }

.m-bottom-40 {
  margin-bottom: 2.5rem; }

.m-right-12 {
  margin-right: .75rem; }

.m-right-14 {
  margin-right: .875rem; }

.m-right-16 {
  margin-right: 1rem; }

.m-right-18 {
  margin-right: 1.125rem; }

.m-right-20 {
  margin-right: 1.25rem; }

.m-right-22 {
  margin-right: 1.375rem; }

.m-right-24 {
  margin-right: 1.5rem; }

.m-right-26 {
  margin-right: 1.625rem; }

.m-right-28 {
  margin-right: 1.75rem; }

.m-right-30 {
  margin-right: 1.875rem; }

.m-right-32 {
  margin-right: 2rem; }

.m-right-34 {
  margin-right: 2.125rem; }

.m-right-36 {
  margin-right: 2.25rem; }

.m-right-38 {
  margin-right: 2.375rem; }

.m-right-40 {
  margin-right: 2.5rem; }

.m-null {
  margin: 0; }

.select2 {
  border-radius: 0; }
  .select2.select-md {
    width: 15rem;
    height: 1.625rem; }
  .select2.select2-container {
    border: 0; }
    .select2.select2-container .select2-choice {
      border: 0;
      border-radius: 0;
      background-image: none; }
      .select2.select2-container .select2-choice .select2-arrow {
        height: 1.2rem;
        width: 1.2rem;
        box-shadow: 1px 1px 1px #c2c4c8;
        top: .1rem;
        right: .15rem;
        border: 0;
        background: #edf0f2;
        box-sizing: border-box; }
        .select2.select2-container .select2-choice .select2-arrow b {
          background-position: 2px -2px; }

.p-t-22 {
  padding-top: 1.375rem; }
