.modal-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	z-index: 19999;
	height: 100%;
	background: rgba(255,255,255, .8);
	display: none;
}
.modal-window-holder
{
	margin: 0 auto;
	z-index: 10;
	// max-height: 100%;
	height: 100%;
	overflow: hidden;
	padding-top: 142px;
	padding-bottom: 142px;
	width: 100%;
	max-width: 64rem;
	// margin-left: -480px;
}
.modal-window
{
	width: 100%;
	max-width: 64rem;
	// overflow: hidden;
	height: 100%;
	position: relative;
	
	.mCustomScrollBox
	{
		overflow: inherit;
		.mCSB_container
		{
			overflow: auto;
		}
		.mCSB_scrollTools.mCSB_1_scrollbar
		{
			top: -152px;
			right: 42px;
			background: #6c6f74;
			.mCSB_draggerRail
			{
				background: #6c6f74;
			}
			.mCSB_dragger_bar
			{
				background: #e6e6e8;
				border: 4px solid #e6e6e8;
				border-radius: 0;
				height: 30%;
			}
		}
	}
	.nav.nav-tabs
	{
		z-index: 39999;
		li
		{

			&.active
			{
				a
				{
					color: #fff;
					background: #3e414a;	
				}
			}
			&:hover
			{
				a
				{
					color: #fff;
					background: #3e414a;	
				}
			}
			a
			{
				transition: all .4s ease-out;
				font-size: 12px;
				color: #656871;
				font-family: "Ubuntu-Bold";
				background: #ecedf2;
				border-bottom: 2px solid #bbbfc8;
			}
		}
	}
}
.tabpanel
{
	background-color: #ebedf2;
	border-left: 1px solid #e1e2e4;
	border-right: 1px solid #e1e2e4;
	padding-bottom: 40px;
	width: 100%;
	max-width: 60rem;
	.nav.nav-tabs
	{
		text-align: center;
		li
		{
			float: none;
			display: inline-block;
		}
	}
}