.panel-bottom
{
	min-height:         18rem;
	width:          100%;
	position:       relative;
    background:     #303235;
	z-index:        2;
	box-sizing:     border-box;
    .mo-search
    {

        .i-coords
        {
            border:             0;
            border-bottom:      1px solid #afb2b9;
            color:              #737880;
            background:         transparent;
            width:              7rem;
            text-align:         center;
            font-size:          1.125rem;
            font-family:        "Ubuntu-Regular";
            cursor:             pointer;
            &.highlighted
            {
                border-bottom: .125rem solid #00aaff;
                &:hover
                {
                    border-bottom: .125rem solid #00aaff;
                }
            }
            &:first-child
            {
                margin:     0 1rem 0 0;
            }
            &:hover
            {
                color:              #3e4149;
                border-bottom:      1px solid #737880;
            }
        }
        .coord-holder
        {
            margin-bottom: .5rem;
            .input-group
            {
                padding-top: .4rem;
            }
            &::after
            {
                clear: both;
                display: block;
                content: '';
            }
        }
        .emer-type-holder
        {
            margin-bottom: 0;
        }
        .emer-kind-holder
        {
            margin-bottom: .625rem;
        }
        .emer-type-holder, .emer-kind-holder
        {
            padding-left: 6.625rem;
            label
            {
                max-width: 10rem;
                margin-right: 1.875rem;
                min-height: 1.375rem;
                &::after
                {
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "\f105";
                    display: inline-block;
                    margin-left: 1rem;
                }
            }
        }
        .radius-holder
        {
            width: 11.5rem;
            float: left;
            margin-left: 14.375rem;
            .btn
            {
                margin-top: 2.5625rem;
                float: left;
            }
            .radius
            {
                margin-right: .5rem;
                margin-left: .5rem;
                float: left;
                .circle-outer
                {
                    display: block;
                    width: 6.5rem;
                    height: 6.5rem;
                    border: .1rem solid #cdd0d5; 
                    border-radius: 50%;
                    position: relative;
                }
                .circle-inner
                {
                    top: .1875rem;
                    left: .1875rem;
                    position: absolute;
                    width: 6rem;
                    height: 6rem;
                    border-radius: 50%;
                    border: .1625rem solid #3e4149;
                }
                .meter-holder
                {
                    width: 3rem;
                    height: 4.875rem;
                    margin: 0 auto;
                    position: relative;
                    box-sizing: border-box;
                    padding-top: 2.375rem;
                    z-index: 2;
                    background-color: transparent;
                    input.quantities
                    {
                        width: 100%;
                        text-align: center;
                        background: transparent;
                        font-size: 1.5rem;
                        color: #737880;
                        font-family: "Ubuntu-Bold";
                        border: 0;
                        border-bottom: .1rem solid #9da1a7;
                    }
                    .scale
                    {
                        color: #737880;
                        font-family: "Ubuntu-Regular";
                        text-align: center;
                    }
                    &::before
                    {
                        font: normal normal normal 14px/1 FontAwesome;
                        -webkit-font-smoothing: antialiased;
                        text-rendering: auto;
                        -moz-osx-font-smoothing: grayscale;
                        transform: translate(0, 0);
                        content: "\f105";
                        display: block;
                        color: #d0d3d8;
                        top: 43%;
                        position: absolute;
                        background-color: #ebedf2;
                        width: 2rem;
                        height: 2rem;
                        font-size: 2rem;
                        position: absolute;
                        left: -1.5625rem;
                        z-index: 2;
                        text-align: right;
                    }
                    &::after
                    {
                        font: normal normal normal 14px/1 FontAwesome;
                        -webkit-font-smoothing: antialiased;
                        text-rendering: auto;
                        -moz-osx-font-smoothing: grayscale;
                        transform: translate(0, 0);
                        content: "\f104";
                        top: 43%;
                        display: block;
                        color: #d0d3d8;
                        right: -1.5625rem;
                        position: absolute;
                        text-align: left;
                        background-color: #ebedf2;
                        width: 2rem;
                        height: 2rem;
                        font-size: 2rem;
                    }
                }

            }
            &::after
            {
                clear: both;
                display: block;
                content: '';
            }
        }
        .form-group
        {
            label
            {
                color: #878b92;
                font-family: "Ubuntu-Regular";
                font-size: .7rem;
            }
        }

        .mo-location
        {
            border-right: 1px solid #737880;
            min-height: 20px;
            display: block;
            position: relative;
            text-align: right;
            margin-right: 2.1875rem;
            padding: .75rem;
            box-sizing: border-box;
            color: #737880;
            font-size: .65rem;
            font-family: "Ubuntu-Regular";
            max-width: 10rem;
            &::after
            {
                position: absolute;
                content: '';
                display: block;
                right: -4px;
                top: .75rem;
                border-left: 4px solid #737880;
                border-bottom: 5px solid transparent;
                border-top: 5px solid transparent;
            } 
        }
    }
	.fancypanel
    {
        border-top:     1px solid #dcdee3;
        box-shadow:     0 -1px 0 #bfc0c4;
		border-bottom:  .25rem solid #222325;
		background:     #ebedf2;
		min-height:         18.5rem;
		width:          100%;
        .row.result
        {
            display: none;
        }
        .row.init
        {
            .mo-search
            {
                width: 380px;
                margin: 0 auto;
                padding-top: 3rem;
                position: relative;
                .btn.init-search
                {
                    position: absolute;
                    right: -12rem;
                    bottom: 1.5rem;
                }
                .form-group
                { 
                    &:last-of-type
                    {
                        &::after
                        {
                            clear: both;
                            content: "";
                            display: block;
                        }
                    }
                }
                .emer-kind-holder, .emer-type-holder
                {
                    margin-bottom: .625rem;
                    padding-left: 3rem;
                }
                .radius-holder
                {
                    margin-left: 11rem;
                }
                .mo-location
                {
                    border-right: 0;
                    &::after
                    {
                        font: normal normal normal 14px/1 FontAwesome;
                        content: "\f105";
                        display: inline-block;
                        margin-left: 1rem;
                        border: 0;
                    }
                }
            }
            
        }
        .placeinfo
        {
            margin:     .5rem 2.5rem 0 2%;
            float:      left;
            .row
            {
                overflow:   hidden;
                margin:     0 0 .25rem 0;
                .item
                {
                    float:              left;
                    width:              11.375rem;
                    margin:             0 .5rem 0 0;
                    height:             1.125rem;
                    padding:            .25rem;
                    box-sizing:         border-box;
                    border:             .0625rem solid #bcbec2;
                    text-transform:     uppercase;
                    font-size:          .695rem;
                    font-family:        "Ubuntu-Regular";
                    dl
                    {
                        overflow:       hidden;
                        dt
                        {
                            float:      left;
                            width:      9.125rem;
                        }
                        dd
                        {
                            float:      right;
                        }
                    }
                }
                .item:last-child
                {
                    margin:     0;
                }
            }
            .row.header
            {
                .item
                {
                    background:     #c6c8cf;
                }
            }
            .row:last-child
            {
                margin:     0;
            }
        }
        .log
        {
            float:          left;
            height:         100%;
            // background:     #fff;
            // width:          45.246753247%;
            margin:         0 10% 0 0;
            padding-top: .625rem;
            table.table-custom-1
            {
                font-family:    "Ubuntu-Regular";
                width:          100%;
                font-size:      .8rem;
                thead
                {
                    display: block; 
                    background: transparent;
                    tr
                    {
                        
                        background: transparent;
                        th
                        {
                            text-transform: uppercase;
                            font-family: "Ubuntu-Bold";
                            padding: 0;
                            padding-right: .5rem;
                            border-bottom: 0;
                            p
                            {
                                border-bottom: .1rem solid #bbbfc9;
                            }
                            &:first-child
                            {
                                border-bottom: 0;
                            }
                        }
                        &.nihil
                        {
                            height: 1rem;
                            th
                            {
                                border-bottom: 0;
                                border-top: 0;
                            }
                        }
                        &::before
                        {
                            content: '';
                            width: .125rem;
                            height: 1.5rem;
                            opacity: 0;
                        }
                    }
                }
                tbody
                {
                    // height: 12rem;
                    overflow: hidden;
                    display: block;
                    tr
                    {
                        background: #f5f6fb;
                        height: 1.5rem;
                        box-sizing: border-box;
                        position: relative;
                        &:nth-child(2n)
                        {
                            background: #eff1f6;
                        }
                        td
                        {
                            box-sizing:     border-box;
                            vertical-align: middle;
                            padding: 0;
                            padding-right: .5rem;
                            text-overflow: ellipsis;
                            border-top: 0;
                            a
                            {
                                color:      #3e4149;
                                &:hover
                                {
                                    text-decoration: none;
                                }
                            }
                            &:first-child
                            {
                                width: 1.5rem;
                                font-family: "Ubuntu-Bold";
                                padding-left: .25rem;
                                span.status
                                {
                                      width: 1.25rem;
                                      height: .75rem;
                                      display: block;
                                      box-sizing: border-box;
                                      line-height: 1.2;
                                      text-align: center;
                                      letter-spacing: -1px;
                                      color: #fff;
                                      font-size: .6rem;
                                      border-radius: .125rem;
                                      background-color: #737880;
                                }
                            }
                            &:last-child
                            {
                                width: 4.5rem;
                                // text-align: right;
                                // padding: .25rem .5rem 0 0;
                            }
                            &.hasroad
                            {
                                background: url(../images/has-road.png) no-repeat .25rem .125rem;
                            }
                            &.close
                            {
                                background: #dce4b4;
                            }
                            &.near
                            {
                                background: #f3e5b4;
                            }
                            &.far
                            {
                                background: #efc2be;
                            }
                        }
                        &::before
                        {
                            content: '';
                            display: block;
                            opacity: 0;
                            width: .125rem;
                            height: 1.5rem;
                            background-color: #00aaff;
                            position: absolute;
                            left: .6rem;
                        }
                    }
                    tr:hover
                    {
                        background-color: #3e4149;
                        &::before
                        {
                            opacity: 1;
                        }
                        td
                        {
                            a
                            {
                                color: #fff;
                            }
                            &:first-child
                            {
                                span.status
                                {
                                    background-color: #d9230f;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ui-jqgrid .ui-jqgrid-bdiv { overflow-y: scroll; }
    }
}
.f-search-block
{
    .nav-tabs
    {
        border: 0;
    }
    .tab-control
    {
        font-family: "Ubuntu-Bold";
        min-width: 17.5rem;
        background-color: transparent;
        border: 0;
        position: relative;
        height: 2rem;
        display: block;
        box-sizing: border-box;
        margin-right: 2rem;
        &:hover
        {
            top: 0;
        }
        &:last-child
        {
            margin-right: 0;
        }
        a
        {
            display: block;
            border-radius: 0;
            text-transform: uppercase;
            border: 0;
            padding: 0;
            padding-left: .7rem;
            padding-top: .4rem;
            width: 100%;
            height: 100%;
            color: #626670;
            font-size: .9rem;
            border-bottom: .1625rem solid #bbbfc9;
            &:focus
            {
                background: transparent;
            }
            &:hover
            {
                border: 0;
                z-index: 0;
                // box-shadow: 0 2px 2px rgba(0,0,0,.2) inset;
                border-bottom: .125rem solid #00aaff;
                // background-color: #393c45;
                // color: #e9eaef;
            }
        }
        &.active
        {
            top: -.1rem;
            height: 2.1rem;
            a
            {
                box-shadow: 0 2px 2px rgba(0,0,0,.2) inset;
                display: block;
                width: 100%;
                height: 100%;
                border: 0;
                border-bottom: .25rem solid #393c45;
                background-color: #393c45;
                color: #e9eaef;
                &:hover
                {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-color: #393c45;
                    border: 0;
                    border-bottom: .25rem solid #393c45;
                    background-color: #393c45;
                    color: #e9eaef; 
                }
                &:focus
                {
                    width: 100%;
                    height: 100%;
                    border: 0;
                    border-bottom: .25rem solid #393c45;
                    background-color: #393c45;
                    color: #e9eaef;
                }
            }
        }
    }
    .tab-content
    {
        padding-top: 1rem;
        // Дубль с карты
        .preview
        {
            width: 5.5rem;
            height: 9.875rem;
            background: rgba(62,65,73, .85);
            box-sizing:border-box;
            padding: .5rem;
            -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5);
            -moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.5);
            box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.5);
            p
            {
                color: #f6f6f6;
                font-family: "Ubuntu-Bold";
                margin: 0 0 .25rem 0;
            }
            .row
            {
                overflow: hidden;
                margin: 0 0 .25rem 0;
                .item.beds
                {
                    background: rgba(46,48,51, .75);
                    border: .0625rem solid rgba(46,48,51, .75);
                }
                .item
                {
                    float: left;
                    width: 2rem;
                    margin: 0 .25rem 0 0;
                    height: .75rem;
                    border: .0625rem solid #838689;
                    color: #f6f6f6;
                    line-height: 1.1;
                    font-weight: bold;
                    text-align: right;
                    font-size: .7rem;
                    padding: 0 .125rem 0 0;
                    box-sizing: border-box;
                }
                .item:last-child
                {
                    margin: 0;
                }
            }
        }
        p.help-ibox-title
        {
            margin-top: .5rem;
            margin-bottom: .25rem;
            font-family: "Ubuntu-Bold";
            text-transform: uppercase;
        }
        .beds-holder
        {
            max-width: 12.3125rem;
        }
        .specialist-holder
        {
            max-width: 12.3125rem;
        }
        .scheme-description-holder
        {
            padding-left: 12%;
            &::after
            {
                clear: both;
                display: block;
                content: '';
            }
        }
        // Инфоблоки-расшифровщики
        .help-ibox
        {
            width: 100%;
            li.row
            {
                width: 12.3125rem;
                height: .75rem;
                display: block;
                border: .1rem solid #848891;
                box-sizing: border-box;
                line-height: 1;
                text-align: left;
                margin-left: 0;
                margin-right: 0;
                text-transform: uppercase;
                background-color: transparent;
                font-family: "Ubuntu-Regular";
                color: #848891;
                margin-bottom: .125rem;
                &:first-child
                {
                    color: #fff;
                    background-color: #848891;
                }
            }
        }
    }
}
.copyright
{
    color: #747578;
    font-family: "Ubuntu-Regular";
}