doctype html
html
	include ./modules/head.jade
	body.generic
		.container
			h1.generic-header
				|Заголовки
			.block-holder.headers
				h1
					|Тестовые заголовки h1, стили не предусмотрены
				h2
					|Тестовые заголовки h2, стили не предусмотрены
				h3
					|Тестовые заголовки h3, стили не предусмотрены
				h4
					|Тестовые заголовки h4, стили не предусмотрены
				h5
					|Тестовые заголовки h5, стили не предусмотрены
				h6
					|Тестовые заголовки h6, стили не предусмотрены
			h1.generic-header
				|Примеры полей в формах
			.block-holder
				form
					.form-group.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							label.form-label
								|Дата обновления
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							input.form-input(placeholder="— ", type="text", value="Lorem ipsum dolor sit amet")
							i.state.red
							i.state.yellow
					.form-group.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							label.form-label
								|Федеральный округ
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							select.form-input.select2
							i.state.red
							i.state.green
					.form-group.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							label.form-label
								|Муниципальное образование
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							textarea.form-input
								|Lorem ipsum dolor sit amet
							i.state.red
							i.state.grey
					.form-group.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							label.form-label
								|Руководитель организации
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
						.childs-holder
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Должность
										a(href="#")
											i.fa.fa-info-circle
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input
										|Lorem ipsum dolor sit amet
									i.state.red
									a.state.cancel(href="#")
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Ф.И.О.
										a(href="#")
											i.fa.fa-info-circle
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input
										|Lorem ipsum dolor sit amet
									i.state.red
									i.state.green
							.form-group.row
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									label.form-label
										|Муниципальное образование
								.col-xs-12.col-sm-6.col-md-6.col-lg-6
									textarea.form-input
										|Lorem ipsum dolor sit amet
									i.state.red
									i.state.yellow
								.childs-holder
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Адрес электронной почты
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input
												|Lorem ipsum dolor sit amet
											i.state.red
											a.state.cancel(href="#")
									.form-group.row
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											label.form-label
												|Почтовый адрес
												a(href="#")
													i.fa.fa-info-circle
										.col-xs-12.col-sm-6.col-md-6.col-lg-6
											textarea.form-input
												|Lorem ipsum dolor sit amet
											i.state.red
											i.state.green
					.form-group.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							label.form-label
								|Телефон с кодом города
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							input.form-input(placeholder="— ", type="text", value="Lorem ipsum dolor sit amet")
							i.state.red
							i.state.yellow
					.form-group.row
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							label.form-label
								|Адрес электронной почты
						.col-xs-12.col-sm-6.col-md-6.col-lg-6
							select.form-input.select2
							i.state.red
							i.state.green
			h1.generic-header
				|Кнопки
			.block-holder.btns
				.row
					a(href="#").state.cancel.pull-left.m-right-12
					a(href="#").map-marker.btn-xs-custom.pull-left.m-right-12
						i.fa.fa-map-marker
					a(href="#").pull-left.m-right-12
						i.fa.fa-info-circle
					a(href="#").state.add.pull-left.m-right-12
						i.fa.fa-plus
					a(href="#").state.del.pull-left.m-right-12
						i.fa.fa-times
					a(href="#").state.eye.pull-left.m-right-12
						i.fa.fa-eye
				.row
					a(href="#").btn-default.pull-left.m-right-12
						|Стандартная
					a(href="#").btn.btn-default.btn-blue.init-search.pull-left
						|НАЙТИ
						i.fa.fa-search.font-size-24
				.row
					a(href="#").btn.btn-square.pull-left.m-right-12
						|Квадрат
					a(href="#").btn-square.btn-grey.btn-menu.pull-left
						i.fa.fa-bars.font-size-40
				.row
					a(href="#").btn-alpha-md.pull-left.m-right-12
						p.alpha-text-holder
							|Прозрачный фон
					a(href="#").btn-alpha-md.pull-left.m-right-12
						i.fa.fa-long-arrow-left
						p.alpha-text-holder
							|К списку МО
					a(href="#").btn-alpha-md.pull-left.m-right-12.cancel
						i.fa.fa-times
						p.alpha-text-holder
							|Удалить МО
					a(href="#").btn-alpha-md.pull-left.m-right-12
						p.alpha-text-holder
							|Экспорт в .XLS
						i.fa.fa-file-excel-o
					a(href="#").btn-alpha-md.pull-left.m-right-12
						p.alpha-text-holder
							|Печать
						i.fa.fa-print
				.row
					a(href="#").btn-alpha-lg.pull-left.m-right-12
						p.alpha-text-holder
							|Сохранить
						i.fa.fa-check
					a(href="#").btn-alpha-lg.pull-left.m-right-12
						p.alpha-text-holder
							|Продолжить
						i.fa.fa-long-arrow-right
	include ./modules/scripts.jade
	srcipt(src="js/generic.js")
