doctype html
html
    include ./modules/head.jade
    body
        include ./modules/panel-top.jade
        div#map.map
        include ./modules/panel-bottom.jade
        include ./modules/scripts.jade
