doctype html
html
	include ./modules/head.jade
	body
		div#wrapper
			div#sidebar-wrapper
				include ./modules/menu-aside.jade
			div#page-content-wrapper
				include ./modules/panel-top.jade
				div#map.map
				include ./modules/panel-bottom.jade
				.modal-overlay
					include ./modules/modal-view.jade
					include ./modules/modal-tablesettings.jade
		include ./modules/scripts.jade
