.bottompanel
	.fancypanel
		.container
			.placeinfo
				.row.header
					.item
						dl
							dt
								|КОЙКИ ВЗРОСЛЫЕ (ВСЕГО)
							dd
					.item
						dl
							dt
								|врачи (ВСЕГО)
							dd
				.row
					.item
						dl
							dt
								|ТЕРАПЕВТИЧЕСКИЕ
							dd
					.item
						dl
							dt
								|ТЕРАПЕВТы
							dd
				.row
					.item
						dl
							dt
								|ХИРУРГИЧЕСКИЕ
							dd
					.item
						dl
							dt
								|ХИРУРГИ
							dd
				.row
					.item
						dl
							dt
								|ТРАВМАТОЛОГИЧЕСКИЕ
							dd
					.item
						dl
							dt
								|ТРАВМАТОЛОГИ
							dd
				.row
					.item
						dl
							dt
								|НЕЙРОХИРУРГИЧЕСКИе
							dd
					.item
						dl
							dt
								|НЕЙРОХИРУРГИ
							dd
				.row
					.item
						dl
							dt
								|ОЖОГОВЫЕ
							dd
					.item
						dl
							dt
								|комбустиологи
							dd
				.row
					.item
						dl
							dt
								|ТУБЕРКУЛЕЗНЫЕ
							dd
					.item
						dl
							dt
								|физиаторы
							dd
				.row
					.item
						dl
							dt
								|ИНФЕКЦИОННЫЕ
							dd
					.item
						dl
							dt
								|инфекционист
							dd
			.log
				.nearhospitals
					.head
						p.pull-left
							|МЕДИЦИНСКАЯ ОРГАНИЗАЦИЯ В ЗОНЕ ЧС
						//- p.pull-right
						//- 	|РАССТОЯНИЕ ДО ЧС, КМ
						//- 	a(href="#").order
					.body
						table
							tbody
								tr.header
									td
										a(href="#")
											|Краснодарский край
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение "Каневская центральная районная больница" муниципального образования Каневской район
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Кореновская центральная районная больница"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Курганинская центральная районная больница"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" Брюховецкого района
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Ленинградская центральная районная больница"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница муниципального образования Новопокровский район"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Отрадненская центральная районная больница"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" администрации муниципального образования Павловский район
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Приморско-Ахтарская центральная районная больница имени Кравченко Н.Г."
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница муниципального образования Староминский район"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница" Усть-Лабинского района
								tr
									td
										a(href="#")
											|муниципальное бюджетное учреждение здравоохранения Центральная районная больница муниципального образования Щербиновский район
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения муниципального образования Лабинский район Краснодарского края "Центральная районная больница"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница муниципального образования Калининский район"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение "Славянская центральная районная больница"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Тбилисская центральная районная больница"
								tr.header
									td
										a(href="#")
											|Ростовская область
								tr
									td
										a(href="#")
											|Муниципальное бюмуниципальное бюджетное учреждение здравоохранения белокалитвенского района ростовской области "центральная районная больница"джетное учреждение здравоохранения белокалитвенского района ростовской области "центральная районная больница"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница миллеровского района ростовской области"
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница" зерноградского района ростовской области
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница" красносулинского района ростовской области
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница" морозовского района ростовской области
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница" песчанокопского района
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница" пролетарского района ростовской области
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница" сальского района
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница" тарасовского района ростовской области
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница" тацинского района ростовской области
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "центральная районная больница" усть-донецкого района ростовской области
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "городская больница скорой медицинской помощи" г. новочеркасск