.bottompanel
	.fancypanel
		.container
			.placeinfo
				.row.header
					.item
						dl
							dt
								|КОЙКИ ВЗРОСЛЫЕ (ВСЕГО)
							dd
					.item
						dl
							dt
								|врачи (ВСЕГО)
							dd
				.row
					.item
						dl
							dt
								|ТЕРАПЕВТИЧЕСКИЕ
							dd
					.item
						dl
							dt
								|ТЕРАПЕВТы
							dd
				.row
					.item
						dl
							dt
								|ХИРУРГИЧЕСКИЕ
							dd
					.item
						dl
							dt
								|ХИРУРГИ
							dd
				.row
					.item
						dl
							dt
								|ТРАВМАТОЛОГИЧЕСКИЕ
							dd
					.item
						dl
							dt
								|ТРАВМАТОЛОГИ
							dd
				.row
					.item
						dl
							dt
								|НЕЙРОХИРУРГИЧЕСКИе
							dd
					.item
						dl
							dt
								|НЕЙРОХИРУРГИ
							dd
				.row
					.item
						dl
							dt
								|ОЖОГОВЫЕ
							dd
					.item
						dl
							dt
								|комбустиологи
							dd
				.row
					.item
						dl
							dt
								|ТУБЕРКУЛЕЗНЫЕ
							dd
					.item
						dl
							dt
								|физиаторы
							dd
				.row
					.item
						dl
							dt
								|ИНФЕКЦИОННЫЕ
							dd
					.item
						dl
							dt
								|инфекционист
							dd
			.log
				.nearhospitals
					.head
						p.pull-left
							|МЕДИЦИНСКАЯ ОРГАНИЗАЦИЯ В ЗОНЕ ЧС
						p.pull-right
							|РАССТОЯНИЕ ДО ЧС, КМ
							a(href="#").order
					.body
						table
							tbody
								tr
									td.hasroad
										a(href="#")
											|Муниципальное бюджетное учреждение "Каневская центральная районная больница" муниципального образования Каневской район
									td.close
										|2
								tr
									td.hasroad
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Кореновская центральная районная больница"
									td.close
										|2
								tr
									td
										a(href="#")
											|муниципальное бюджетное учреждение здравоохранения "Курганинская центральная районная больница"
									td.close
										|2
								tr
									td
										a(href="#")
											|муниципальное бюджетное учреждение здравоохранения "Курганинская центральная районная больница"
									td.close
										|2
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Ленинградская центральная районная больница"
									td.near
										|3
								tr
									td
										a(href="#")
											|Муниципальное бюджетное учреждение здравоохранения "Центральная районная больница муниципального образования Новопокровский район"
									td.far
										|4