div.toppanel
	a(href="#").menu-md-btn.pull-left
	div.holder-time.pull-left
		span.time
			|04 : 30
		div.separator
		span.date
			|2014 / 05 / 05
	ul.nav
		li
			a(href="#")
				|ОТЧЕТЫ
		li
			a(href="#")
				|ЗАПРОСЫ
		li.active
			a(href="#")
				|КАРТА ЧС
		li.search
			form
				input(type="text", placeholder="ПОИСК ...")
